@font-face {
  font-family: 'Marvin';
  src: local('Marvin'),
  url('../assets/fonts/Marvin.woff2') format('woff2'),
  url('../assets/fonts/Marvin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'Marvin';
  color: #fff
}
